.carousel__pagination {
  display: flex;
  justify-content: center;
  list-style: none;
}
.carousel__pagination-button {
  margin: 5px;
  width: 12px;
	height: 12px;
	border: 1px solid;
  border-radius: 50%;
  cursor: pointer;
	background-color: transparent;
	
}

.carousel__pagination-button--active {
  background-color: #642afb;
}
